<div class="product-container">
  <p id="notice"><%= notice %></p>

  <div class="products-title">Products</div>

    <% @products.each do |product| %>
    <div class="product">
      <h2><%= product.name %></h2>

      <div class="image">
      <% if product.images.present? %>
        <img src= <%= product.images %> />
      <% else %>
        <%= image_tag "no_image.png" %>
      <% end %>
      </div>

      <div class="price">
        <%= product.price %> Ft
      </div>

    </div>
    <% end %>

<br>

<%= link_to 'New Product', new_product_path %>
</div>